// Navigation code here

.top-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 3.6rem;
        padding-top: 1%;
        padding-bottom: 1.7%;
    }

    nav { //Add padding hover
        .flex-nav;
        width: 25%;
        padding-bottom: 1%;
        transition-property: width, padding;
        transition-duration: 1s;
        
        &:hover {
            width: 33%;
            padding-bottom: 1.5%;
    
        a {
            font-size: 1.65rem;
            color: slategray;

            &:hover {
                color: black;
                }
            }
        } //end first hover

        a {
            font-size: 1.45rem;
            color: black;
            transition-property: color, font-size;
            transition-duration: 1s;
        }

        @media @phone {
            width: 75%;

            &:hover {
                width: 75%;
                padding-bottom: 1%;
                font-size: 1.45rem;
            }
        } //end query
    } // end nav

    img {
        border-radius: 6px;

        @media @phone {
            width: 99.8%;
        }
    }
} //end .top-hover